<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sampler 1.0</title>
    <script src="/scripts/jquery/dist/jquery.js"></script>
    <script src="/scripts/p5/p5.min.js"></script>
    <script src="/scripts/p5/addons/p5.dom.min.js"></script>
    <script src="/scripts/p5/addons/p5.sound.js"></script>
    <script src="/scripts/main.js"></script>
    <link rel="stylesheet" href="/stylesheets/simple-grid.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="box box-top" id="o1"></div>
          <div class="box box-top" id="o2"></div>
          <div class="box box-top" id="o3"></div> <br/>
            <img class="timeline" src="/images/timeline.png"></img>
            <br/>
          <div class="box box-bottom" id="o4"></div>
          <div class="box box-bottom" id="o5"></div>
          <div class="box box-bottom" id="o6"></div>
            <br/>
          <div class="box box-top" id="o7"></div>
          <div class="box box-top" id="o8"></div>
          <div class="box box-top" id="o9"></div>
            <br/>
          <img class="timeline" src="/images/timeline.png"></img>
            <br/>
          <div class="box box-bottom" id="o10"></div>
          <div class="box box-bottom" id="o11"></div>
          <div class="box box-bottom" id="o12"></div>
            <br/>
          <div class="box box-top" id="o13"></div>
          <div class="box box-top" id="o14"></div>
          <div class="box box-top" id="o15"></div>
            <br/>
          <img class="timeline" src="/images/timeline.png"></img>
            <br/>
          <div class="box box-bottom" id="o16"></div>
          <div class="box box-bottom" id="o17"></div>
          <div class="box box-bottom" id="o18"></div>
            <br/>
          <div class="box box-top" id="o19"></div>
          <div class="box box-top" id="o20"></div>
          <div class="box box-top" id="o21"></div>
            <br/>
          <img class="timeline" src="/images/timeline.png"></img>
            <br/>
          <div class="box box-bottom" id="o22"></div>
          <div class="box box-bottom" id="o23"></div>
          <div class="box box-bottom" id="o24"></div>
            <br/>
          <div class="box box-top" id="o25"></div>
          <div class="box box-top" id="o26"></div>
          <div class="box box-top" id="o27"></div>
            <br/>
          <img class="timeline" src="/images/timeline.png"></img>
          <br/>
          <div class="box box-bottom" id="o28"></div>
          <div class="box box-bottom" id="o29"></div>
          <div class="box box-bottom" id="o30"></div>
          <br/>
          <div class="box box-top" id="o31"></div>
          <div class="box box-top" id="o32"></div>
          <img class="timeline" src="/images/timeline.png"></img>

        </div>
      </div>
    </div>

  </body>
</html>
