<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sampler 1.0</title>
    <script src="/scripts/jquery/dist/jquery.js"></script>
    <script src="/scripts/p5/p5.min.js"></script>
    <script src="/scripts/p5/addons/p5.dom.min.js"></script>
    <script src="/scripts/p5/addons/p5.sound.js"></script>
    <link rel="stylesheet" href="/stylesheets/simple-grid.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="sidebar"></div>

          <div class="box box-top" id="o1">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o2">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o3">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div></div> <br/>
            <img class="timeline" src="/images/timeline.png"></img>
            <br/>
          <div class="box box-bottom" id="o4">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o5">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o6">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div></div>
            <br/>
          <div class="box box-top" id="o7">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o8">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o9">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
            <br/>
          <img class="timeline" src="/images/timeline.png"></img>
            <br/>
          <div class="box box-bottom" id="o10">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o11">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o12">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
            <br/>
          <div class="box box-top" id="o13">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o14">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o15">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
            <br/>
          <img class="timeline" src="/images/timeline.png"></img>
            <br/>
          <div class="box box-bottom" id="o16">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o17">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o18">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
            <br/>
          <div class="box box-top" id="o19">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o20">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o21">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
            <br/>
          <img class="timeline" src="/images/timeline.png"></img>
            <br/>
          <div class="box box-bottom" id="o22">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o23">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o24">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
            <br/>
          <div class="box box-top" id="o25">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o26">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o27">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
            <br/>
          <img class="timeline" src="/images/timeline.png"></img>
          <br/>
          <div class="box box-bottom" id="o28">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o29">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-bottom" id="o30">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <br/>
          <div class="box box-top" id="o31">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <div class="box box-top" id="o32">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
          </div>
          <img class="timeline" src="/images/timeline.png"></img>

        </div>
      </div>
    </div>
    <script src="/scripts/main.js"></script>


  </body>
</html>
